window#test1 { background: rgba(0,0,0,0.55); }
window#test2 { background: rgba(0,0,0,0.55); }
.tr { background: rgba(255,255,255,0.1); }
.t-bg { background: white; color: black; min-width: 120px; }
.t-lbl { background: rgba(255,0,0,0.6); }
.t-border { border: 2px solid white; color: white; }
.t-lb { background: green; color: black; }
